* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  color: unset;
  text-decoration: none;
}

.bgimage {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -100;
}

.section__padding {
  padding: 4rem 6rem;
  @media screen and (max-width: 550px) {
    padding: 4rem 2rem;
  }
  @media screen and (max-width: 700px) {
    padding: 4rem;
  }
}

.section__margin {
  margin: 4rem 6rem;
  @media screen and (max-width: 550px) {
    margin: 4rem 2rem;
  }
  @media screen and (max-width: 700px) {
    margin: 4rem;
  }
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
